@import '../../styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .menu-sidebar ::ng-deep .scrollable {
    padding-top: nb-theme(layout-padding-top);
  }

  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0px !important;
}
nb-layout-column {
    padding: 0px !important;
}
}
