
 <div class="container">
  <div class="row">
    <div class="col-12">
      <p class="p-body">
        <b>Onepay Payment Gateway Terms & Conditions</b>
      </p>
      <p class="p-body">
        Below are the terms and conditions you must agree to use our products and services.
      </p>
  <br>
  <p class="p-body">
    By and between
  </p>
  <br>
  <p class="p-body">
    <span class="hard">
      This User Agreement ("Agreement") is a contract between you and Spemai (Private) Limited(“Called as Onepay”) that applies to your use of the Onepay third-party payment processing service 
      and any related products and services ("Service") available through Onepay ("Site" and "Application")</span>
  </p>
  <br>
  <p class="p-body">
    If you do not agree to be bound by the terms and conditions of this Agreement, you may not use this Site or any of the Services.
  </p>
  <p class="p-body">
    Onepay reserves the right to amend this Agreement at any time by posting a revised version on this website. Except if otherwise stated, all amendments shall be effective thirty (30) days after publication on this Site. 
    Notice of upcoming changes will be posted on our website and on notification pages posted in your Onepay account.
  </p>
  <br>
  <p class="p-body">
    In this Agreement, "you" or "your" means any person or entity ("Users") using the Service. Unless otherwise stated, "Spemai (Private) Limited", Onepay", "we" or "our" 
    will refer collectively to Spemai (Private) Limited, its officers, directors, agents, subsidiaries, joint ventures, employees and suppliers.
  </p>
  <br>
  <p class="p-body">
    <span class="hard">WHEREAS</span> the Company is the Technology platform provider of “Just Pay” which is the payment
    technology that utilizes Lanka Pay’s CEFTS.
  </p>
  <br>
  <p class="p-body">
   <b>1. ELIGIBILITY</b> 
  </p>
  <p class="p-body">
    Both Merchants and Customers of products and services ("Products") can use the Service. Unless otherwise stated, 
    all provisions in this Agreement apply to both Merchants and Customers.
  </p>
  <br>
  <p class="p-body">
    You agree that any information you give to us ("User Information") will stay in our records until termination of this Agreement, for whatever reason,
     in which case such information will be removed from our systems and/or returned to you and/or destroyed.
  </p>
  <br>
  <p class="p-body">
    1.1 Warranties
  </p>
  <br>
   <p class="p-body">
    >You represent and warrant that all of the following are true of you from your entry into this Agreement until the termination of your Account:
  </p>
  <br>
   <p class="p-body">
    >If you are an entity other than an individual, you have the legal capacity to enter into this Agreement and perform the obligations represented within it.
  </p>
  <br>
   <p class="p-body">
    >If you are an individual, then you are at least 18 years of age and do not require the consent, approbation or approval of any other person or entity to conclude a contractual obligation of the type represented in this Agreement.
  </p>
  <br>
   <p class="p-body">
    >Your execution of and performance under this Agreement in no way violates any legal obligation of the Merchant, including any agreement between or among Merchant(s) and any third party(ies).
  </p>
  <br>
   <p class="p-body">
    >If you are a Merchant, you sell through your website only Products and/or services that are available for delivery in the normal course of your business.
  </p>
  <br>
   <p class="p-body">
    >You offer Products and/or services for sale only if you have the legal right to market and sell such Products and/or services in all applicable jurisdictions.
  </p>
  <br>
   <p class="p-body">
    >You maintain the value and reputation of Onepay to the best of your ability.
  </p>
  <br>
   <p class="p-body">
    >You conduct your business affairs according to the terms and intent of this Agreement and in compliance with all applicable laws and regulations.
  </p>
  <br>
   <p class="p-body">
    >You do not use our Services for any activities considered fraudulent or illegal under any laws or regulations in any applicable jurisdiction.
  </p>
  <br>
   <p class="p-body">
    >You do not permit or authorize any other person or entity to use our Services without our written consent.
  </p>
  <br>
   <p class="p-body">
    >If you are a Merchant, you have had ample opportunity to obtain legal advice regarding the legal effects of this Agreement. You can deliver your full legal name, street address, telephone number and email address by postal mail or email to your Customer(s) and grant Onepay access to records of this correspondence.
  </p>
  <br>
   <p class="p-body">
    >You will refrain from using abusive and vulgar language with Onepay employees, whether through email, blog comments or phone support. Abusive conduct will not be tolerated and will result in account termination.
  </p>
  <br>
   <p class="p-body"><span class="hard">2. LIABILITY</span></p>
  <br>
  <p class="p-body">2.1 Our Liability</p>
  <br>
  <p class="p-body">
  If you have a dispute with one or more Users, you release Onepay from any and all claims, demands and actual/consequential damages related to your transaction(s) with said User(s) unless this results from wrongful or negligent acts attributable to us. We provide our services "as is" without any warranty or condition.
  </p>
   <p class="p-body">
  Onepay makes reasonable efforts to ensure that requests for electronic debits and credits involving bank accounts, credit cards and cheque issuances are processed promptly. We make no representations or warranties regarding the amount of time consumed to complete transactions because our Service is largely dependent upon many factors outside of our control.
  </p>
  <br>
   <p class="p-body">
  Under no circumstances we will be liable for any lost profits, special, incidental or consequential damages arising out of or in connection to the Site, our Service or this Agreement. Under no circumstances shall our liability to you exceed the amount of the revenue earned from transactions carried out by you in the three months prior to the event leading to liability.
  </p>
  <br>
   <p class="p-body">
    You agree to indemnify and hold Onepay harmless from any claim or demand, including attorneys' fees, made or incurred by any third party due to or arising out of your breach of this Agreement, by the documents it incorporates or by your violation of any law or third-party rights related to your use of the Service.
  </p>
  <br>
   <p class="p-body">
  You agree to indemnify and hold Onepay harmless from any claim or demand, including attorneys' fees, made or incurred by any third party due to or arising out of your breach of this Agreement, by the documents it incorporates or by your violation of any law or third-party rights related to your use of the Service.
  </p>
  <br>
   <p class="p-body">
  You agree that if either you or OnePay begin litigation or arbitration, the prevailing party is entitled to recover reasonable attorneys' fees and any other costs incurred in addition to any other relief to which the prevailing party may be entitled.
  </p>
  <br>
   <p class="p-body">
  You agree to indemnify and hold Onepay harmless for unauthorized transactions done through Onepay. It is very important to contact us immediately if you believe your account has been compromised or if someone has transferred money through your account without your permission. Notifying us as soon as possible will limit your liability.
  </p>
  <br>
  <p class="p-body">2.2 Your Liability
  </p>
  <br>
   <p class="p-body">
  If you do not report unauthorized transactions in your Onepay account, you will be liable for any resulting damages. We will do what we can to recover the funds, but if we are unable to recover them, you will assume responsibility for the losses.
  </p>
  <br>
   <p class="p-body">
  Your Onepay account is protected by a password. As long as you keep the password confidential, no one will be able to access the information in your Onepay account. If a member shares their password with others or allows others to discover and use their password with the account, the account holder is giving access to the information in the account and assumes all responsibility for transactions in this account.
</p>
<br>
 <p class="p-body">
  Please note that all activities performed on your account while logged in will be assumed to be performed by the account holder. The account holder also understands that delegating authority to operate his account also amounts to ownership of any and all activities performed on his account. This includes but not limited to; Integrations and configurations, Business registration and verification, Transactions, Account settings and Use of Onepay’s business solutions.
</p>
<br>
 <p class="p-body">
  Note that any User must be logged in to perform business verification.
</p>
<br>
 <p class="p-body">
  You are responsible for performing your due diligence on any Merchants with whom you plan on doing business. If you neglect to perform due diligence on a Merchant and do not receive an item you paid for or receive an item that does not appear as the Merchant described it, you will be liable for any resulting damages. However, if you report a transaction dispute, we will do our best to mediate a resolution that will benefit all parties involved.
</p>
<br>
 <p class="p-body">
  Under no circumstances will you be liable for any lost profits, special, incidental or consequential damages arising out of or in connection to this Agreement. Under no circumstances shall your liability to us exceed the amount of the revenue earned from transactions carried out by you in the three months prior to the event leading to liability.
</p>
<br>
 <p class="p-body">
  You agree to indemnify and hold OnePay harmless from any claim or demand, including attorneys' fees, made or incurred by any third party due to or arising out of your breach of this Agreement.
</p>
<br>
 <p class="p-body">
  You agree that if either you or OnePay begin litigation or arbitration, the prevailing party is entitled to recover reasonable attorneys' fees and any other costs incurred in addition to any other relief to which the prevailing party may be entitled.
</p>
<br>
  <p class="p-body"><span class="hard">3. RELATIONSHIP</span></p>
  <br>
   <p class="p-body">
  Onepay provides third-party payment processing services and carries out related technical actions on your behalf. At all times, we do not have any access to your funds and they are directly charged from your customers and settled to your bank account by the issuing and acquiring banks through the payment networks such as Visa and Master card. You acknowledge that Onepay is not a bank and that the Service is a third-party payment processing service rather than a banking service.
</p>
<br>
 <p class="p-body">
  By receiving payments through our Service, you appoint Onepay to technically charge your customers and process your funds to your bank account. If we send you a payment notification when you receive funds through Onepay that means the fund has been charged from your customer and will be settled to your bank account as per the payout cycle.
</p>
<br>
 <p class="p-body">
  By making payments through our Service, you appoint Onepay to technically charge you and process your funds to the bank account of your Merchant. If we send you a payment notification when you make a payment through Onepay that means the fund has been charged from you and will be settled to your Merchant's bank account.
</p>
<br>
 <p class="p-body">
  Onepay is a third-party payment processor that hosts, creates, maintains and provides our Service to you online. We do not have any control over the Products that are paid for with our Service. We cannot ensure that a Customer or a Merchant will complete their transaction as we are not a party to any transaction between Users. Instead, each User agrees to use the Services of their own accord. Furthermore, Onepay reserves the right to correct any processing errors that may occur.
</p>
<br>
<p class="p-body"><span class="hard">4. ACCOUNT INFORMATION</span></p>
<br>
 <p class="p-body">
  4.1 Verification
</p>
<br>
 <p class="p-body">
  Onepay requires all the Merchants to become verified for the security of our network. Merchants need to be verified before consuming our services to comply with Anti-Money Laundering and Anti-Terrorist Financing Legislation. You agree to complete account verification procedures by applying for Onepay services through our website. Only the Merchants verified through a screening process handled by our partner bank can use our payment services.
</p>
<br>
 <p class="p-body">
  4.2 Receiving Funds
</p>
<br>
 <p class="p-body">
  When you receive funds to your bank account through Onepay service, applicable transaction fees will be deducted for that transaction.
</p>
<br>
 <p class="p-body">
  4.3 Sending Funds
</p>
<br>
 <p class="p-body">
  Onepay provides a secure medium through which to make payments online. The Merchant assumes all liability for the Product being sold, and understands that the Products are purchased at your own risk. If you encounter any problems with the Merchant's Products, you should directly contact the Merchant and get them resolving with mutual agreement outlined in section 5.0.
</p>
<br>
 <p class="p-body">
  4.3.1 Refusing Transactions
</p>
<br>
 <p class="p-body">
  If you make an online payment to a Onepay Merchant, they automatically accept the payment. This means a Merchant must have to refund the payment made to them back to you in case if you claim for a refund and the merchant agrees to refund. You agree that we will not be held responsible for damages resulting from a User's refund of a transaction.
</p>
<br>
 <p class="p-body">
  4.4 Settlements
</p>
<br>
 <p class="p-body">
  Your funds will be automatically transferred to your bank account as per the Payout Cycle. In compliance with the government regulations, all the payments will be settled to the Merchant within 3 days from the payment authorized date.
</p>
<br>
 <p class="p-body">
  4.5 Commissions
</p>
<br>
 <p class="p-body">
  Onepay does not hold any of your funds in Onepay's bank accounts. Instead the payments are directly charged from customer accounts and settled to Merchants bank accounts as per the payout cycle. Onepay receives only the commissions or Payment processing fee to Onepay's bank accounts at the time of settlements.
</p>
<br>
 <p class="p-body">
  4.6 Credit Card Use
</p>
<br>
 <p class="p-body">
  You can use your credit card to make a payment through a Onepay Merchant's website. If you receive a refund and initially paid for the item with your credit card, your refund will be reversed back to your credit card.
</p>
<br>
 <p class="p-body">
4.7 Account Security
</p>
<br>
 <p class="p-body">
Onepay implements various security measures to protect your account. With the use of your password and/or Transaction PIN, unauthorized transactions will be drastically reduced if not completely eliminated.
</p>
<br>
<p class="p-body"><span class="hard">5. RESOLUTIONS</span></p>
<br>
 <p class="p-body">
5.1 Transaction Disputes
</p>
<br>
 <p class="p-body">
Disputes between a Merchant and a Customer must be resolved mutually by both parties. Onepay will not intervene in resolving such disputes other than providing the contact information of each party to the other upon a request.
</p>
<br>
 <p class="p-body">
If a Merchant or a Customer is willing to take legal actions against the other in such a dispute, Onepay will provide a Payment Confirmation letter as a legal document confirming the information about the payer and the payee of a particular payment, upon request.
</p>
<br>
 <p class="p-body">
5.2 Customer Protection Policy
</p>
<br>
 <p class="p-body">
We do our best to provide protection for both the merchant and the customer alike. Some of our dispute resolution and refund processes are summarized below.
</p>
<br>
 <p class="p-body">
5.2.1 Dispute Resolution
</p>
<br>
 <p class="p-body">
When a customer is not satisfied with a purchase from a merchant, the customer has to directly communicate to his/her merchant and get the case resolved by mutual agreement.
</p>
<br>
 <p class="p-body">
5.2.2 Refunds
</p>
<br>
 <p class="p-body">
If the resolution results in a refund for the customer, merchant can issue a refund for card payments through Onepay system/Email. The refund amount will be then recovered from the merchant's bank account and refunded back to the customer's card. If your bank account balance becomes negative in such recovery, you agree to pay the negative balance in your bank account or should avail funds in order to make the refund. The already deducted charges from Onepay will also be refunded back to the customer.
</p>
<br>
 <p class="p-body">
If the payment has been made via non-card payment method, the merchant has to process the refund manually to customer since Onepay provides technical refund facility only to card payments.
</p>
<br>
 <p class="p-body">
We encourage the merchant and the customer to communicate and reach a mutually agreeable resolution. This will reduce the possibility of refunds.
</p>
<br>
 <p class="p-body">
5.3 Merchant Protection Policy
</p>
<br>
 <p class="p-body">
The Merchants are protected from unjust claim from any Customer. If any issue is resolved in favour of the Merchant, the Merchant will have no harm or loss.
</p>
<br>
 <p class="p-body">
5.4 Chargebacks
</p>
<br>
 <p class="p-body">
A chargeback occurs when the debit/credit card owner contacts their debit/credit card issuer to dispute certain charges made through their credit card or bank account, depending on payment method. Any account that receives fraudulent funds or funds that have been disputed by the debit/credit card owner will be reversed. If you receive funds in your account from the debit/credit card owner's credit/debit card or bank account and the credit/debit card transaction is reversed, you agree to hold Onepay harmless and agree to reimburse Onepay immediately by any means necessary. If Chargebacks exceeds 1% of transactions per month consecutively, then Onepay can invoke its right to terminate this contract. Chargebacks returns and reversals may lead to immediate account termination.
</p>
<br>
 <p class="p-body">
5.5 Funds Recovery
</p>
<br>
 <p class="p-body">
If a customer disputes a payment made to you through Onepay by chargeback, Onepay will retrieve the funds in question. Furthermore, you authorize Onepay to retrieve any disputed funds to recover the lost funds. If your bank account balance becomes negative in such recovery, you agree to pay the negative balance in your bank account or avail sufficient balance in the account.
</p>
<br>
<p class="p-body"><span class="hard">6.0 ACCEPTABLE USE POLICY AND ACTIVITIES NOT ALLOWES</span></p>
<br>
 <p class="p-body">
6.1 Acceptable Use
</p>
<br>
 <p class="p-body">
Use of the Services is subject to this acceptable use policy ("AUP"). If not defined here, capitalized terms have the meaning stated in the applicable contract ("Agreement") between Customer, Merchant or other authorized User ("You") and One You agree not to use or allow third parties or Your End Users to use the Service for the following reasons:
</p>
<br>
 <p class="p-body">
•  To generate or facilitate unsolicited bulk commercial email.
</p>
<br>
 <p class="p-body">
•  To violate or encourage the violation of the legal rights of others.
</p>
<br>
 <p class="p-body">
•  For any unlawful, invasive, infringing, defamatory or fraudulent purpose.
</p>
<br>
 <p class="p-body">
•  To intentionally distribute viruses, worms, Trojan horses, corrupted files, hoaxes or other Products of a destructive or deceptive nature.
</p>
<br>
 <p class="p-body">
•  To interfere with the use of the Services or the equipment used to provide the Services, by Customers, Merchants or other authorized Users.
</p>
<br>
 <p class="p-body">
•  To alter, disable, interfere with or circumvent any aspect of the Services.
</p>
<br>
 <p class="p-body">
•  To test or reverse-engineer the Services to find limitations, vulnerabilities or evade filtering capabilities.
</p>
<br>
 <p class="p-body">
•  To use the Services, a component of the Services or contents of password protected pages in a manner not authorized by Onepay.
</p>
<br>
 <p class="p-body">
•  Your failure to comply with the AUP may result in suspension and/or termination of the Services pursuant to the Agreement.No User or other third party is authorized to use bots, spiders or other automated information-gathering devices or programming routines to "mine" information displayed, register User accounts, perform transactions and any other activities Onepay considers inappropriate.
 </p>
<br>
 <p class="p-body">
6.2. Activities Not Allowed
</p>
<br>
 <p class="p-body">
•  The sale, solicitation, offering, exchange or service of the following:
</p>
<br>
 <p class="p-body">
•  Tobacco products and related paraphernalia.
</p>
<br>
 <p class="p-body">
•  Prescribed pharmaceutical and controlled substances.
</p>
<br>
 <p class="p-body">
•  Imitation and replica clothing and accessories.
</p>
<br>
 <p class="p-body">
•  Drugs and related paraphernalia (including but not limited to research chemicals and illicit herbal incense)
</p>
<br>
 <p class="p-body">
•  Pre-adult content, such as pictures, videos, etc..., of individuals under the age of 18.
</p>
<br>
 <p class="p-body">
•  Illegal downloads or any other goods and services infringing intellectual property rights of a third party, including streaming video/audio.
</p>
<br>
 <p class="p-body">
•  Any goods not owned by the merchant (including but not limited to Drop shipping)
</p>
<br>
 <p class="p-body">
•  Credit card protection, credit repair services, applications for financial services or loans and/or collection services.
</p>
<br>
 <p class="p-body">
•  Payment processors or any aggregation type services.
</p>
<br>
 <p class="p-body">
•  Sites that promote hatred, racism, sexism, religious persecution and/or any other prejudicial views.
</p>
<br>
 <p class="p-body">
•  Services using credit card transactions as deposits or credits, including pre-loaded debit/credit/cash/virtual cards.
</p>
<br>
 <p class="p-body">
•  Hazardous materials, combustibles and/or corrosives.
</p>
<br>
 <p class="p-body">
•  Precious gems and jewellery
</p>
<br>
 <p class="p-body">
•  Astrological services
</p>
<br>
 <p class="p-body">
•  Weapons
</p>
<br>
 <p class="p-body">
The following activities are also not allowed through or in relation to Onepay:
</p>
<br>
 <p class="p-body">
•  Money laundering.
</p>
<br>
 <p class="p-body">
•  Infringing on any third party's copyright, patent, trademark, trade secret or other property rights or rights of publicity or privacy.
</p>
<br>
 <p class="p-body">
•  Violation of any law, statute, ordinance, contract or regulation, including but not limited to those governing financial services, consumer protection, unfair competition, anti-discrimination or false advertising.
</p>
<br>
 <p class="p-body">
•  Submission of altered verification documents.
</p>
<br>
 <p class="p-body">
•  Being misleading, false or inaccurate in respect to Onepay or any other User.
</p>
<br>
 <p class="p-body">
•  Any activity similar to or consisting of giving yourself a cash advance from your credit card or bank account, factoring or helping others to do so.
</p>
<br>
 <p class="p-body">
•  Any defamatory, trade libelous, unlawfully threatening or harassing statements or information.
</p>
<br>
 <p class="p-body">
•  Spamming.
</p>
<br>
 <p class="p-body">
•  Using Onepay as a virtual terminal.
</p>
<br>
 <p class="p-body">
•  Using currency exchangers or aggregation, unless approved by Onepay.
</p>
<br>
 <p class="p-body">
•  Transmitting personal information of other Onepay members to third parties.
</p>
<br>
 <p class="p-body">
•  Using the Onepay brand to market or advertise your product(s)/service(s) in any capacity.
</p>
<br>
 <p class="p-body">
•  Threatening legal action against Onepay and/or Onepay employees.
</p>
<br>
 <p class="p-body">
Furthermore, anything that directly causes us to lose or become liable for, in whole or in part, the services of our sponsoring banks, Internet Service Providers or other suppliers is not allowed. If you use or attempt to use the Service for purposes other than sending and receiving payments and managing your account, including but not limited to tampering, hacking, modifying or otherwise corrupting the security or functionality of the Service, your account will be terminated and you will be subject to damages and other penalties, including criminal prosecution if necessary.
</p>
<br>
<p class="p-body"><span class="hard">7. CLOSING ACCOUNTS AND LIMITING ACCOUNT ACCESS</span></p>
<br>
 <p class="p-body">
This Agreement's term will begin as soon as you accept these terms and will continue as long as you use the Site or the Services and are a Onepay member.
</p>
<br>
 <p class="p-body">
7.1 Activities Resulting In Account Limitation and Termination Onepay reserves the right to limit Account access and the right to terminate this Agreement without prior notice for any of the following:
</p>
<br>
 <p class="p-body">
a) Reporting unauthorized or unusual credit card or bank account use to your issuing bank or other issuing authority, including but not limited to Chargebacks.
</p>
<br>
 <p class="p-body">
b) Abusing the reversal process by a Customer through their bank.
</p>
<br>
 <p class="p-body">
c) Consistently failing to follow the Resolutions process before filing a complaint with their issuing bank or other issuing authority.
</p>
<br>
 <p class="p-body">
d) Initiating a reversal by a Customer through their issuing bank or other issuing authority without first following the Resolutions process.e) Initiating transactions such as cash advances or assisting cash advances.
</p>
<br>
 <p class="p-body">
f) Sending unsolicited email.
</p>
<br>
 <p class="p-body">
g) Using the Onepay account to facilitate fraudulent activity.
</p>
<br>
 <p class="p-body">
h) Violating this User Agreement in any way.
</p>
<br>
 <p class="p-body">
i) Returning an incoming Electronic Funds Transfer due to insufficient funds in the bank account or an incorrect bank routing/institution and/or account number.
</p>
<br>
 <p class="p-body">
j) Using an anonym zing proxy.
</p>
<br>
 <p class="p-body">
k) Receiving excessive complaints from Customers about your account, business or service.
</p>
<br>
 <p class="p-body">
l) Submitting altered verification documents.
</p>
<br>
 <p class="p-body">
7.2 Actions Resulting From Engagement In Restricted Or Prohibited Activities
</p>
<br>
 <p class="p-body">
If we have reason to believe or suspect that you have engaged or plan on engaging in any restricted or prohibited activities, we may take various actions to protect Onepay, other users or you from reversals, Chargebacks, claims, fees, fines, penalties and any other activity that may render Onepay liable.
</p>
<br>
 <p class="p-body">
The actions we may take include but are not limited to the following:
</p>
<br>
 <p class="p-body">
We may close, suspend or limit your access to your Onepay account (such as limiting access to any of your payment methods and/or your ability to send money, make withdrawals or remove financial Information).
</p>
<br>
 <p class="p-body">
We may contact customers who have purchased goods or services from you, contact your bank or credit card issuer and/or warn other users, law enforcement or impacted third parties of your actions save that in such instance you will be notified first and given reasonable opportunity to provide us with additional detail that you deem relevant to our decision.
</p>
<br>
 <p class="p-body">
We may update inaccurate information you provided us.
</p>
<br>
 <p class="p-body">
We may refuse to provide the Onepay services to you in the future.
</p>
<br>
 <p class="p-body">
We may at any point ask for information regarding your business, reason for you sending or receiving the payment; and We may take legal action against you.
</p>
<br>
 <p class="p-body">
Onepay will use reasonable efforts to investigate accounts that are subject to account access limitations and to reach a final decision on said limitations. By following this User Agreement, you can help protect your account from becoming limited.
</p>
<br>
<p class="p-body"><span class="hard">8. TERMINATION:</span></p>
<br>
 <p class="p-body">
8.1 Without prejudice to any other provision for termination in this Agreement, each party shall have the right to terminate this Agreement forthwith, by giving thirty (30) days prior notice in writing to the other party upon the occurrence of any of the following events:
</p>
<br>
 <p class="p-body">
a) If the other party commits a breach of any of the terms and conditions of this Agreement;
</p>
<br>
 <p class="p-body">
b) if the other party engages in any fraud or other illegal or unethical activities where Onepay in its reasonable judgment believes that any of the activities of the Merchant could adversely affect the reputation of Onepay
</p>
<br>
<p class="p-body"><span class="hard">9. ADDITIONAL TERMS</span></p>
<br>
 <p class="p-body">
This Agreement is governed by and interpreted under the laws of the Democratic Socialist Republic of Sri Lanka as such laws are applied to agreements entered into and to be performed entirely within the Democratic Socialist Republic of Sri Lanka.
</p>
<br>
 <p class="p-body">
The parties hereto agree that this agreement is drafted and executed in the English language. In the event that any indemnification applies in this Agreement then The indemnified party shall notify the indemnifying party of any such loss or claim and expense as soon as it first arises to give the indemnifying party opportunity to mitigate its own potential exposure which will include giving the indemnifying party sole right to conduct and/or settle (on terms approved by the indemnified party, such approval not to be unreasonably withheld or delayed) all negotiations and/or the claim, all costs incurred or recovered in such negotiations or claim being for the indemnifying party’s account and the indemnified party shall take all reasonable steps to prevent further loss or to mitigate loss or damage already occurred, but the indemnified party shall not, without the consent of the indemnifying party, take any steps to compromise or settle the claim.
</p>
<br>
 <p class="p-body">
EULA
</p>
<br>
 <p class="p-body">
The Merchant hereby agrees that all details provided on his Onepay account are up-to-date and shall be regularly updated as soon as it is clear that those details are no longer valid.
</p>
<br>
 <p class="p-body">
It shall be the merchant’s responsibility to ensure that only authorized transactions are performed by his/her customers/clients on the channels provided.
</p>
<br>
 <p class="p-body">
In the incident of chargebacks resulting from fraudulent or unauthorized card usage, the Merchant hereby agree to take responsibility, and grants Onepay the authority to effect such chargeback on his or her bank account as due.
</p>
<br>
 <p class="p-body">
Where the funds are no longer available in the Merchant’s Onepay account, the Merchant shall fund the account or ensure availability of such funds within 48 hours of notification via details provided on the Merchant’s account. This shall include email, SMS or other official communication.
</p>
<br>
 <p class="p-body">
All chargebacks incurred by Onepay on behalf of the Merchant shall be transferred to the merchant in the incidences of card fraud, unauthorized card transactions and other unethical card usage.
</p>
<br>
 <p class="p-body">
The merchant agrees to exempt Onepay of all losses or gains that may arise from exchange rate conversions on chargebacks.
</p>
<br>
 <p class="p-body">
Where it is found that the merchant promotes, encourages, incites or stimulates the inappropriate use of the services provided by Onepay, The Company reserves the right to suspend, block, ban or limit the services rendered to such account.
</p>
<br>
 <p class="p-body">
A merchant shall provide as at when requested, details of customers who use Onepay via his/her platform, website or app. While Onepay shall ensure that adequate security measures are provided in processing transactions on behalf of the customer, this shall not constitute an exemption for the merchant from ensuring that adequate security measures and protocols are provided in ensuring the integrity of transactions performed through his/her platform.
</p>
<br>
 <p class="p-body">
The merchant understands that Onepay’s services are provided in goodwill and agrees to ensure fair usage of the services provided by Onepay and will not engage in unethical/unfair usage of the said services. This shall include but not limited to spamming, fraudulent activities, scamming, and other practices which may put the image or reputation of Onepay or its partners into disrepute.
</p>
<br>
 <p class="p-body">
Last Updated: 20-07-2021
</p>
</div>
</div>
</div>
