body {
  margin: 25px;
  font-size: 12px;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 25px;
}

.title {
  font-size: 20px
}

.p-body {
  font-size: 15px;
  text-align: justify;
  font-style: italic;
}

.hard {
  font-weight: 600;
}

.list-li {
  font-weight: 900;
  font-size: 40px;
}
.next-btn{
  text-align: center;
}
.next-btn button{
  background-color: blue;
  color: white;
  border-radius: 0.6rem;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: none;
}