<br>
<P class="p-body">
  CARGILLS BANK LIMITED,a Company duly incorporated under the laws of Sri Lanka bearing company registration number:
  PB4847 and having its registered office at No.696,Colombo 03,Sri Lanka (hereinafter referred to as “Cargills Bank”
  which expression shall as herein used where the context so requires mean and include the said Cargills Bank Limited,
  its successors and permitted assigns).
</P>
<br>
<p><span class="hard">1. Use of Justpay ServiceSETTLEMENT
  </span></p>
<br>
<p class="p-body">1.1
  Justpay Service shall be offered only in Sri Lankan Rupees and shall be used only for domestic transactions.
  Settlement of daily transactions shall occur in real time via LankaClear CEFTS/Justpay System for Justpay Transactions
  if the merchant account is in the acquiring bank. In the occasion the merchant is not willing to open an Acquiring
  Bank account, the bank will maintain a collection account to which the funds will be transferred and the merchant
  account will be subsequently settled as per Merchant’s agreement with the Aggregator. The Standard CEFT Charges will
  be charged for interbank funds transfers.
</p>
<P class="p-body">1.2
  Justpay transactions done through Justpay Merchants may be reversible subject to conditions. Cargills Bank reserves
  the right to adopt charge back procedures for addressing Justpay Customer complaints and grievances with the consent
  of merchant.
</P>
<P class="p-body">1.3
  Cargills Bank shall credit/debit from the Justpay Account of the Justpay Merchant according to the Justpay
  Transactions done by the Justpay Merchant including all applicable taxes and levies.
</P>
<P class="p-body">1.4
  The Justpay Merchant shall allow Cargills Bank to visit and examine the registers, records and accounts relating to
  Justpay transactions maintained by the Justpay Merchant with the prior approval from the Merchant.
</P>
<P class="p-body">1.5
  The Justpay Merchant shall not engage in any act or omission that will result in any damage to the reputation of
  Cargills Bank or result in any claim or action against Cargills Bank by a third party relating to the Justpay Service.
</P>
<br>
<p><span class="hard">2. Justpay Merchant obligations
  </span></p>
<br>
<P class="p-body">2.1
  The Justpay Merchant shall warrant that all information provided for Justpay Merchant registrations is true and
  accurate and shall provide information as requested by Cargills Bank from time to time.
</P>
<P class="p-body">2.2
  The Justpay Merchant shall not use the Justpay Service for any unlawful or illegal transaction or activity and shall
  always comply with all applicable Laws and any direction issued by CBSL.
</P>
<br>
<p><span class="hard">3 Governing Law and Jurisdiction
  </span></p>
<br>
<P class="p-body">3.1
  This Agreement shall be governed and interpreted in accordance with the Laws of Sri Lanka and shall be subject to the
  jurisdiction of Sri Lankan courts. Any Dispute between Cargills Bank and the Justpay Merchant shall be settled as per
  the Arbitration Act No.11 of 1995 of Sri Lanka as amended, failing amicable settlement.
</P>
<br>
<p><span class="hard">4 Cost and Taxes
  </span></p>
<br>
<P class="p-body">4.1
  No other costs, payments and expenses would be borne by Cargills Bank unless specifically mentioned in this Agreement
  or mutually agreed in writing in advance.
</P>
<P class="p-body">4.2
  All tax liabilities and obligations of each party including Withholding Tax arising in connection with the Justpay
  Service shall be the responsibility of the respective parties and neither party shall be held responsible for tax
  liabilities arising due to any act or omission or fault by the other party.
</P>
<br>
<p><span class="hard">5 Amendments
  </span></p>
<br>
<P class="p-body">5.1
  Justpay merchant agrees to indemnify and hold harmless the Cargills Bank from, any and all claims and/or liabilities
  incurred by the Cargills Bank as a result of any action any damages or losses caused to the Cargills Bank due to the
  negligence and carelessness of the Justpay merchant in performing under this agreement.
</P>
<P class="p-body">5.2
  Based on Directives and Regulations that may be issued by the legal authorities including CBSL, Acquiring Bank may
  amend such directives & regulations from time to time & shall become effective from the date of display of such
  amendments on the Acquiring Bank website.Both parties agrees to abide by such amended directives & regulations.
</P>
<br>
<p><span class="hard">6  Definitions
  </span></p>
<br>