<nb-card>
  <ul class="bread" style="margin-bottom: 0!important;padding: 8px;">
    <li><a href="#/pages/dashboard">Home</a></li>
    <li><a href="#/pages/app-reqest">App Request</a></li>
    
    <li>Approve</li>
  </ul>
</nb-card>
<div class="row">
  <div class="col-12">
    <div class="row">
      <button  class="button button1">Reject</button>
      <button  class="button button1">Approve</button>
    </div>
    <nb-card size="small" style="height: auto;">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="IPG User Info">
          <nb-card-body class="dialog-border">
            <nb-list class="nb-list-details">
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>Activation</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>User name</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>Password</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>Create Date and Time</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>

            </nb-list>
           
          </nb-card-body>
        </nb-tab>

        <!-- app info -->
        <nb-tab tabTitle="App Info">
          <nb-card-body class="dialog-border">
            <nb-list class="nb-list-details">
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>App ID</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>Call back URL</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>User</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>
              <nb-list-item class="list-item">
                <div class="row">
                  <div class="col-md-6 col-lg-4 col-xxxl-4">
                    <span>Password</span>
                  </div>
                  <div class="col-md-6 col-lg-8 col-xxxl-8">
                    <span>Active</span>
                  </div>
                </div>
              </nb-list-item>

            </nb-list>
           
          </nb-card-body>

        </nb-tab>

      </nb-tabset>
    </nb-card>
  </div>
</div>

<!-- <div class="sk-circle" *ngIf="is_loading">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div> -->

