.content-body-title-left{
    margin-bottom: 8px;
      font-weight: 600;
      font-size: 20px;
  }
  .contant-info-body{
    margin: 0 12px 0 12px!important;
  }
  .content-body-title-right{
    margin-bottom: 8px;
    margin-left: 10px;
    font-weight: 600;
    font-size: 14px;
  
  }
  .sub_middle_name{
    border-bottom: 1px solid rgba(0,0,0,0.5);
      border-top: 1px solid rgba(0,0,0,0.5);
      margin-top: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 20px;
  }
  .sub-price-title{
    font-size: 10px;
    color: rgba(0,0,0,0.5);
    float: left;
    margin-bottom: 10px;
  }
  .nb-list-details{
    overflow: hidden!important;
}
.list-item{
  padding: 0.6rem 0 !important;
  font-size: 0.8rem!important;
  border-top: none!important;
  border-bottom: none!important;
}
.thead-light th{
  background-color:rgba(123, 200, 161, 0.12) !important;
  color:#225B46 !important;
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}

.table{
  border-radius: 10px !important;
}

tbody tr{
  font-family: 'Poppins' !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #878787;
}
.submit-payment{
  background-color: #2CC780;
   color: white;
   border: 1px solid #2CC780;
   border-radius: 0.25rem;
   float: right;
   font-size: 14px;
   padding: 5px 15px 5px 15px;
   margin-right: 14px
}
.sub-title1{
  font-size: 20px;
  font-weight: 600;
  float: left;
  text-transform: uppercase;
}
.sub-price-title{
  font-size: 10px;
  color: rgba(0,0,0,0.5);
  float: left;
  margin-bottom: 10px;
}
.sub-price{
  float: left;
  font-weight: 1000;
  color:#2CC780;
  font-size: 38px;
}
.month{
  font-size: 10px;
  color: rgba(0,0,0,0.5);
}
.sub_middle_name{
  border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(0,0,0,0.5);
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.package-details{
  font-size: 13px;
  font-weight: 400;
  margin-left: 6px;
  text-align: left;

}
.item-class{
  margin-left: 8px;
    margin-right: 4px;
}
.chech-btn{
  color:#2CC780 ;
}
.sub-head{
  color: rgba(0,0,0,0.5);
}
.sub-list-head{
  font-size: 14px;
  color: rgba(0,0,0,0.5);
}