
.align-right{
    text-align: right;
}

.loader-area {
    text-align: center !important;
}

.header{
    background-color: #c8ced3;
}

.radius-none{
    border-radius: 0;
}

.export-btns{
    margin-right: 1px;
    margin-bottom: 0.5px;
}

.ngx-pagination .current {
    background: #c8ced3 !important;
}