<!-- <div class="col-12">
  <ul class="breadcrumb">
    <li><a href="/pages/dashboard">Home</a></li>
    <li>QR Transaction History</li>
    <li>QR Transaction Summary</li>
  </ul>
</div> -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        Transaction Summary
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-hover table-outline mb-0">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Transaction Date</th>
              <th>QR Transaction</th>
              <th>Card Transaction</th>
              <th>Cash Transaction</th>
              <th>Cheque Transaction</th>
              <th>Total Transaction</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>39</td>
              <td>2020.01.17</td>
              <td>5765778.88</td>
              <td>576.88</td>
              <td>97778.88</td>
              <td>65778.88</td>
              <td>6765778.88</td>
            </tr>
          </tbody>
        </table>
        <!-- <pagination-controls (pageChange)="pageChanged($event)" responsive="true"
          (pageBoundsCorrection)="pageChanged($event)" style="float: right">
        </pagination-controls> -->
      </div>
    </div>
  </div>
</div>