@import '../pages.component.scss';
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
      transition: background-color 5000s ease-in-out 0s;
  }
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: 'textfield';
  }
  .form-group{
    margin-top: 0;
  }
  .table .thead-light th {
    font-weight: 200;
  }
  .table .thead-light th td{
    font-size: 0.8rem;
  }
  .table td{
    font-weight: 80;
  }
  .table td a{
    color: #4CAF50;
    cursor: pointer;
  }
  .button {
    border: none;
    color: white;
    padding:0.6rem;
    text-align: center;
    font-size: 0.8rem;
    margin: 0;
    cursor: pointer;
    font-weight: 100;
  }
  .box_shadow{
    box-shadow: none;
  }
  .dialog-border{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #cdd2d6;
    border-radius: .25rem;
  }
  .header{
    text-align: center;
    font-weight: 100;
  }
  label{
    font-size: 14px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Century Gothic';
  }
  ng-template {
    overflow: hidden scroll;
    margin-right: -5px;
    overflow-y: scroll !important; 
    max-height: 95vh; 
  }
  .font-red{
    color: #FD0000;
  }
  .header_text{
    font-size: 16px;
    color: #000000;
    font-family : 'Poppins';
    font-style : normal;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
  }
  .url_link{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 19px;
    color: #5E5E5E;
  }
  .label_app_name{
    width: 100%;
    font-family: 'Poppins';
    font-size: 12px;
    font-style: normal;
    line-height: 30px;
    text-align: left;
    color: #454545;
  }
  .app_des{
    font-size: 16px;
    color: #0075FF;
    height: 46px;
    font-style: normal;
    top: 100px;
    font-family: 'Poppins';
  }
  .card-header{
    background-color: white !important;
    border-bottom: none !important;
    font-weight: 800 !important;
  }
.thead-light th{
  background-color:rgba(123, 200, 161, 0.12) !important;
  color:#225B46 !important;
  font-family: 'Poppins' !important;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.table{
  border-radius: 10px !important;
}
tbody tr{
  font-family: 'Poppins' !important;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #878787;
}
.button2{
  background: #225B46;
  border-radius: 7px;
  color:white;
  width:auto;
  font-size: 11px;
  line-height: 20px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'poppins' !important;
  font-size: 14px !important;
  color: #A7A7A7 !important;
}
:-ms--placeholder { /* Internet Explorer 10-11 */
  font-family: 'poppins';
  font-size: 14px;
  color: #A7A7A7;
}
.code{ //+94 & LKR
  position: absolute;
  width: 32px;
  height: 32px;
  color:rgb(255, 255, 255);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 32px;
  text-align: right;
}
#img_style{ //+94 background
  background: url("../../../assets/images/Rectangle247.png") left no-repeat;
  padding-left: 60px;
}